spring:
  application:
    name: graph-service
  profiles:
    active: dev

server:
  port: 8090

---
spring:
  config:
    activate:
      on-profile: dev
  data:
    neo4j:
      uri: bolt://localhost:7687
      username: neo4j
      password: password
      database: neo4j

eureka:
  client:
    enabled: true
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.example.plm.graph: DEBUG
    org.springframework.data.neo4j: DEBUG

---
spring:
  config:
    activate:
      on-profile: prod
  data:
    neo4j:
      uri: ${NEO4J_URI:bolt://localhost:7687}
      username: ${NEO4J_USERNAME:neo4j}
      password: ${NEO4J_PASSWORD:password}
      database: ${NEO4J_DATABASE:neo4j}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true

logging:
  level:
    com.example.plm.graph: INFO
    org.springframework.data.neo4j: WARN